# Project specific

# Test reports
test/coverage
test/report

# OS
.DS_Store
thumbs.db

# Cache directories
.bower
.cache
.sass-cache
.scss-cache

# Source maps
# *.js.map
*.css.map

# Editor/IDE files
*.iml
*.ipr
*.iws
.idea
*.sublime-workspace
nb-configuration.xml
nbactions.xml
nbproject/private

# Server logs
log
logs

# Node
node_modules
