<!-- WERK:NIEUW --> 
<section class="werk-item">
  <div class="werk-content">
    <header class="werk-header">
      <h1>Titel</h1>
    </header>
    <ul class="vaardigheden">
      <li>Vaardigheden:</li>
      <li>Vormgeving</li>
    </ul>
    <p class="werk-beschrijving">
      Beschrijving
    </p>
    <footer class="werk-footer">
      <p>
        Datum
        <a href="#">Bekijk werk</a>
      </p>
    </footer>
  </div>
  <img src="media/images/werk/rv-antonisse/werk-default.jpg" alt="" class="werk-img" />
</section>
<!-- /WERK -->
