<!DOCTYPE html>
<html lang="nl-NL" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>RV Antonisse multimedia design</title>
    <meta name="description" content="U kunt bij mij terecht voor web- en grafisch design. Roel Victor Antonisse - multimedia design">
    <meta name="keywords" content="web, grafisch, design, media">
    <meta name="author" content="Roel Victor Antonisse">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
  </head>

  <body>
    <div class="wrapper">
      <header id="site__header">
        <div class="title">RV Antonisse</div>
        <div class="subtitle">Multimedia Design</div>
        <img src="/assets/images/logo.png" class="logo" title="RV Antonisse multimedia design">
      </header>

      <main id="site__content">
        {{ content | safe }}
      </main>
    </div>

    <footer id="site__footer">
      <div class="wrapper">
        <p>&copy; 2020 RV Antonisse | +31 6 46 37 57 53 | info&#64;rv-antonisse.nl</p>
      </div>
    </footer>
  </body>
</html>
